#page {
    padding: 25px;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}
.tab-content {
    padding: 10px 10px 0 10px;
}
.thumbnail {
    max-height: 75px;
}
.preview {
    max-height: 500px;
}
#table-products .fa {
    font-size: 20px !important;
    padding: 5px;
}
#table-products .fa-ban {
    color: slategrey !important;
}
#table-products .fa-times {
    color: red !important;
}
#table-products .fa-arrow-right {
    color: green !important;
}
.tag-button {
    border: 1px solid #c0c0c0;
    padding: 2px 5px;
    border-radius: 5px;
}
.tag-button input, .tag-button label {
    cursor: pointer;
}
